<h1>Burgers</h1>

<h2>Burgers that are not (yet) devoured!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      <a>{{this.id}} - {{this.name}} </a>
      <button class="eatBurger" data-id="{{this.id}}" data-devoured="{{this.devoured}}"> Devour </button>
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that have been devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      <a>{{this.id}} - {{this.name}} </a>
      <button class="deleteBurger" data-id="{{this.id}}" data-devoured="{{this.devoured}}"> Delete </button>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="newBurger" name="name">
  </div>
  <button type="submit" id="newBurger">Add Burger</button>
</form>
